*.env
iOS/xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
iOS/timeline.xctimeline
iOS/playground.xcworkspace
iOS/.build/
iOS/Carthage/Build/
iOS/fastlane/report.xml
iOS/fastlane/Preview.html
iOS/fastlane/screenshots/**/*.png
iOS/fastlane/test_output
*.DS_Store*
Server/target*
target*
Server/pkg*
Server/cargo.lock
Server/.env
Server/ssl/*.pem
Server/ssl/*.p8
.vscode*